game/audio.rpa
game/yuri.chr
game/natsuki.chr
game/monika.chr
game/sayori.chr
game/firstrun
game/fonts.rpa
game/*.rpyc
game/advanced_scripts/*.rpyc
game/images.rpa
game/saves/
game/cache/
game/gui/
game/python-packages/
characters/
errors.txt
log.txt
project.json
traceback.txt